/* Base rules */
:root{
    --primary-color:#2a9d8f;
    --secondary-color: #0D6063;
    
    --tritary-color: #C9500D;
    ;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3,h4,h5,h6{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Red Hat Mono', monospace;
    font-size: 18px;
}

/* Header section */
.header-section .first-header{
    background-color: var(--tritary-color);
    color: #fff;
}
.header-section .second-header ul li{
    margin-left: 40px;
    font-weight: bold;
    

}
.header-section .second-header ul li a{
    color: var(--secondary-color);
    transition: .5s ease-in;

}
.header-section .second-header ul li a:hover{
    color: #000;
}
.last-header{
    background-color: rgb(218, 218, 218);
}
#outer-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#d-flex{
    width: 100%;
    
}

#search{
    width: 50%;
    background: transparent;
    border: 2px solid var(--tritary-color);
    padding: 10px;
    border-radius:50px ;
}
#shopping{
    display: inline;
}

/* Slider section */
/* Tpicks section */
.Tpicks{
   
}

.Tpicks h3{
    font-weight: bold;
    color: var(--tritary-color);
}
.Tpicks h5{
    color: #000;
}

.Tpicks img{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    
}
/* /tpicks */
/* Product section */



.product img{
    width: 100%;
    height: 25vh;
    border-radius: 20px;
    
}
.product h4{
    color: var(--tritary-color);
    font-weight: bold;
}
.product h5{
    color: #000;
}
  




/* Utility Classes */
.button{

    border: 1px solid var(--tritary-color);
    background-color: var(--tritary-color);
    color: #fff;
    
    border-radius: 10px;

}
.button:hover{
    color: #fff;
}
.button a{
    text-decoration: none;
    color: #fff;
}
.section-heading{
   
        font-weight: bold;
        color: #0D6063;
    
}
