/* Base rules */
:root{
    --primary-color:#ffdde2ff;
    --secondary-color:	#faa094ff;
    --tritary-color:#9ed9ccff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Red Hat Mono', monospace;
    font-size: 18px;
}

/* Header section */
.header-section .first-header{
    background-color: var(--tritary-color);
    color: #fff;
}
.header-section .second-header ul li{
    margin-left: 40px;
    

}
.header-section .second-header ul li a{
    color: var(--secondary-color);
    transition: .5s ease-in;

}
.header-section .second-header ul li a:hover{
    color: #000;
}
.last-header{
    background-color: var(--secondary-color);
}
#outer-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#d-flex{
    width: 100%;
    
}

#search{
    width: 50%;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
}
#shopping{
    display: inline;
}
.header-button button{
    border: 1px solid #fff;
    color: #fff;
    transition: .5s ease-in-out;
}


/* Utility Classes */
.button{
    border: 1px solid #fff;
    color: #fff;
    transition: .5s ease-in-out;

}
.button:hover{
    background-color: var(--primary-color);
}